<footer class="footer">
  <small>
    Made with Ruby on Rails 
    by <a href="http://uofu-cs4540-17.cloudapp.net/">Alfred Norm Gifford</a>
    and <a href="http://uofu-cs4540-57.cloudapp.net/">Kyle Pierson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "readme", 'layouts/readme' %></li>  
      <li><%= link_to "Ruby on Rails Tutorial", 'https://www.railstutorial.org' %></li>
    </ul>
  </nav>
</footer>
